/*하단의 footer 기본 틀*/
.Wrapper {
  border-top: 5px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
}
/*하단의 footer 에서 버튼들의 디자인*/
.linkc {
  text-decoration: none;
  color: gray;
  font-size: 3px;
  margin-left: 15px;
  margin-top: 100px;
  border-right: solid 2px gray;
  margin-bottom: 3px;
  font-size: 18px;
}

/*하단의 footer 소제목 생성을 위한 디자인 클래스*/
.Title {
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: bold;
}
.Title2 {
  font-size: 16px;
  margin-top: 1%;
  margin-left: 50%;
  font-weight: bold;
}
.Title3 {
  margin-top: 10%;
  font-size: 16px;
  margin-bottom: 3%;
  font-weight: bold;
}
/*하단의 행렬 정렬을위한 row와 col*/
.Row {
  margin-left: 160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.Column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 3%;
}