.SignUp {
  width: 400px;
  margin: 0% 0% 0% 35%;
  display: inline-block;
  background-color: #fff;
  border-radius: 3%;
}

.SignInfo {
  width: 350px;
  margin: 0% 0% 0% 35%;
  display: inline-block;
  background-color: #fff;
  border-radius: 3%;
}
/*  회원가입 css */
.SignUp h5 {
  padding: 10px 10px 20px 90px;
  font-size: 20px;
  font-weight: 400;
}

.SignInfo h5 {
  padding: 10px 10px 20px 90px;
  font-size: 20px;
  font-weight: 400;
}

.SignInfo form {
  margin: 0% 0% 0% 1.5%;
}

/* */
.PromoLogin {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

/* 주소(배송지) 관리 => Create, Delivery, Show Address*/
.box {
  width: 800px;
  height: 370px;
  border: 1px solid lightgray;
}

.boxTop {
  width: 800px;
  height: 40px;
  border: 1px solid lightgray;
  background-color: #f6f8f6;
}

.addAd {
  display: flex;
}

.boxBottom {
  margin-top: 20px;
}

.addAd input {
  width: 150px;
  height: 35px;
}

.boxBottom Input {
  width: 680px;
  height: 35px;
}

.btnSave {
  margin-top: 20px;
  width: 420px;
  height: 50px;
  color: white;
  border: none;
  background-color: coral;
}

.boxBottom button {
  display: inline-block;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5%;
  background-color: white;
}

.addAd Input {
  width: 150px;
  height: 35px;
}

.boxText {
  padding-top: 10px;
  padding-left: 10px;
}

/* 회원 정보 관리  */
.PersonalInput {
  margin: 10px 0% 0px 0%;
  width: 200px;
}

.DeliveryDiv {
  background-color: gray;
}

/* 회원 진행 상태 1-2 */
#_circleC {
  background-color: coral;
  float: left;
  border: 1px lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 75px;
  text-align: center;
  margin-left: 150px;
  margin-left: 40px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
}

#_circle {
  background-color: #fff;
  float: right;
  border: 1px solid lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 75px;
  text-align: center;
  margin-left: 150px;
  font-size: 15px;
  color: grey;
  line-height: 30px;
}
