.SignUp {
  width: 400px;
  margin: 0% 0% 0% 25%;
  display: inline-block;
  background-color: #fff;
  border-radius: 3%;
}

.choice {
  display: flex;
  padding: 3% 0% 5% 0%;
}

.choice_btn {
  display: inline-block;
  width: 90%;
  height: 5vh;
  text-align: center;
  margin: 5% 30% 30px 5%;
  padding: 8px 6px;
  border: 1px solid lightgrey;
  border-radius: 5%;
  background-color: white;
}

.SignHr {
  width: 32%;
  border: 1px thin black;
  margin: 2.5% 0% 0% 0%;
}

.SignText {
  display: flex;
  font-size: 13px;
}

.aTag {
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

#circleC {
  background-color: coral;
  float: left;
  border: 1px lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 75px;
  text-align: center;
  margin-left: 150px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
}
#circle {
  background-color: #fff;
  float: right;
  border: 1px solid lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 75px;
  text-align: center;
  margin-left: 40px;
  font-size: 15px;
  color: grey;
  line-height: 30px;
}
