.test {
    background-color: rgb(240, 221, 6);
}

.WorkDetail {
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

/* Content 1 = page's left side */
.Content1 {
    width: 600px;
    display: inline-block;
}
.Img_big img {
    width: 600px;
    height: 600px;
    padding: 10px;
}
.Img_small {
    display: inline-block;
}
.Img_small img {
    width: 60px;
    height: 60px;
    padding: 5px 3px;
}
.menu {
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 100px 0px;
    border-top: 1px solid rgb(233, 233, 233);
}
.menu h5 {
    text-align: left;
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    font-weight: 500;
}
.menu p {
    text-align: center;
}
/* MenuBar */
.menubar_W {
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.menubar_W div {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.menu_1, .menu_2, .menu_3, .menu_4 {
    width: 100%;
    padding: 20px 0px 30px 0px;
    border-top: 1px solid rgb(171, 171, 171);
}
.menu_4 {
    border-bottom: 1px solid rgb(167, 167, 167);
}
/* 작품 정보 */
.menu_1 {
    width: 100%;
}

/* 배송 교환 환불 */
.menu_2 {
    width: 100%;
}
.menu_2 > h5 {
    margin-bottom: 20px;
}
.menu_2 > p {
    border-top: 1px solid lightgray;
    padding: 0px 0px 0px 0px;
}
.delivery1, .delivery2, .delivery3 {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lightgray;
}
.delivery1 h3, .delivery2 h3, .delivery3 h3 {
    width: 35%;
    display: inline-flex;
    margin: 0px;
    padding-left: 20px;
    font-size: 15px;
    border-right: 1px solid lightgray;
}
.delivery1 h4, .delivery2 h4, .delivery3 h4 {
    width: 65%;
    display: inline-flex;
    margin: 0px;
    font-size: 15px;
    padding: 15px 0px 15px 20px;
}

/* 구매 후기 */
.menu_3 h1 {
    width: 50%;
    padding: 30px 20px 0px 20px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    border-top: 1px solid lightgray;
}
.menu_3 h2 {
    width: 50%;
    padding: 30px 20px 0px 20px;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    border-top: 1px solid lightgray;
}
.menu_3 h3 {
    width: 100%;
    padding: 10px 20px 0px 20px;
    text-align: left;
    display: inline-block;
    font-size: 13px;
}
.menu_3 h4 {
    width: 100%;
    padding: 20px 20px 30px 20px;
    display: inline-block;
    font-size: 18px;
}
.menu_3 h5 {
    padding-bottom: 30px;
}

/* 댓글 */
.menu_4 {
    height: 500px;
}
.menu_4 h1 {
    width: 100%;
    padding: 20px 10px 0px 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}
.menu_4 h2 {
    width: 100%;
    padding: 10px 10px 20px 30px;
    font-size: 15px;
    text-align: left;
}
.menu_4 div {
    margin-bottom: 30px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
}

/* Content 2 = page's right side */
.Content2 {
    width: 25%;
    position: absolute;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
}
.Content2 p {
    display: inline-block;
    padding: 5px 15px 0px 20px;
    font-size: 15px;
}
.made_by {
    width: 50%;
    font-size: 15px;
    display: inline-block;
    padding: 20px 10px 10px 20px;
}
.category_right {
    width: 50%;
    padding-right: 30px;
    display: inline-block;
    font-size: 15px;
    text-align: right;
}
.title {
    font-size: 23px;
    font-weight: 500;
    padding: 10px 10px 10px 20px;
}
.discount_per {
    display: inline-flex;
    padding: 10px 5px 10px 20px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
.discount_price {
    display: inline-flex;
    padding: 10px 5px 10px 20px;
    font-weight: bold;
    font-size: 20px;
}
.price {
    display: inline-flex;
    padding: 10px 10px 40px 10px;
    font-size: 15px;
    text-decoration: line-through;
    color: lightslategray;
}
.total_amount span {
    float: right;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}
.cart_button, .pay_button {
    color: black;
    text-decoration: none;
    display: inline-block;
}
.cart_button p, .pay_button p {
    color: black;
    text-decoration: none;
    padding: 15px 60px 15px 60px;
    margin:  10px 5px 20px 30px;
    background-color: rgb(247, 244, 244);
    border: 2px solid rgb(238, 237, 237);
    border-radius: 5px;
}
